.body {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    width: 1100px;
    height: 293px;
}

.grid__conteiner {
    display: grid;
    padding: 52px 0px 50px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content:space-between;
    font-size: 18px;
}

.nav-option {
    display: block;
}

li {
    margin-right: 32px;
    white-space: nowrap;
  }

.grid_position_list {
    display: flex;
    list-style-type: circle;
}

.crutches {
    list-style-type: none;
    align-self: start;
}

.header__logo--position {
    height: 107px;
    width: 135px;
    display: block;
    justify-self: start;
    margin-left: 14px;
    margin-right: 193px;
}

.grid_position_address {
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-style: normal;
    align-self: center;
}

.do-underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 757px;
    padding: 165px 50px 50px 50px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 153px;

}

.overlay {
    display: block;
    position: absolute;
}

.cover__title {
    display: block;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    color: white;
}

.aligned-text {
    display: block;
    position: relative;
    z-index: 1;
}

.aligned-text--second {
    margin-top:9px;
    margin-left: 286px;
}

.aligned-text--third {
    margin-top:2px;
    margin-left: 554px;
}

.individual--cover-letter {
    position: relative;
    margin-left:30px;
    margin-right:30px;
}

.cover__footer {
    display: flex;
    word-spacing: 19px;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    align-self: flex-end;
}

.cover__footer--button {
    margin-left: 52px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 22px;
    padding:12px 31px;
    text-transform: uppercase;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 27px 24px;
    gap: 27px;
}

.h2-title {
    grid-column: 1/4;
    font-size: 40px;
    text-transform: uppercase;
}

.h2__lots_position {
    padding-left: 40px;
}

.card-option {
    grid-column: span 3;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.h3-title {
    line-height: 26.4px;
}

.card {
    display: grid;
    height: 563px;
    width: 334px;
    padding: 52px 40px 48px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    z-index:0;
    line-height: 24px;
}

.card-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/card-lot-01.jpg");
}
.card-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/card-lot-02.jpg");
}
.card-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/card-lot-03.jpg");
}

.button-lots {
    display: block;
    font-family: 'Raleway', sans-serif;
    grid-column: span 3;
    border: none;
    background-color: white;
    outline: none;
    text-decoration: underline;
    font-size: 20px;
    justify-self: start;
    align-items:end;
    padding-left: 40px;
    padding-top: 3px;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    z-index: 2;
}

.paragraph {
    align-self: end;
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.section-lots {
    margin-bottom: 128px;
}

.circle-background {
    display: flex;
    place-self: center;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
}

.size-logo {
    width: 62%;
    height: auto;
}

.about-title {
    grid-column: 2/4;
}

.h2_about--position {
    padding-top: 9px;
    display: grid;
    height: 100%;
    align-items: center;
}

.about_paragraf {
    display: grid;
    grid-column: 2/4;
    margin-top: -19px;
    padding-right: 5px;
    gap: 24px;
}

.footer-position {
    display: grid;
    padding-top: 152px;
}

.footer__logo--size {
    height: 48px;
    width: 48px;
}

.footer__social-icon {
    display: flex;
    gap:48px;
    place-self: start start ;
    margin-left: 60px;
}

.footer-list {
    text-align: center;
}
